<h2 class="input_title">Contact List</h2>

<% @list.each do |item| %>
  <h4><a href="/output/<%= item.id %>"><%= item.name1 + " " + item.name2 %></a></h4>
<% end %>

<h4>Add an item to the list:</h4>
<div class="jumbotron">
<form action="/" method="post">
  <div class="form-group">
    <label for="name1">First Name</label>
    <input id="name1" name="name1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="name2">Last Name</label>
    <input id="name2" name="name2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input id="address" name="address" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="job">Job</label>
    <input id="job" name="job" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

</div>
