<div class="jumbotron">
  <h1 class="input_title"><%= @item.name1 + " " + @item.name2%></h1>
  <h1 class="address_title">Address: <%= @item.address %></h1>
  <h1 class="input_title">Job Title: <%= @item.job %></h1>
  <a href="/">Go back<a>
</div>
