<div class="jumbotron">
  <h3 class="input_title"><%= @item.name1 + " " + @item.name2%></h3>
  <h3 class="input_title">Address: <%= @item.address %></h3>
  <h3 class="input_title">Job Title: <%= @item.job %></h3>
  <a href="/">Go back<a>
</div>
