.hide{
  display: none;
}

body{
  background-color: lightsalmon;
}

.input_title {
  text-align: center;
  font-style: italic;
  margin-bottom: 40px;
}

.output {
  text-align: center;
  font-size: 25px;
}
.jumbotron{
  background-color: skyblue;
}
